{% extends '/create/base.html' %}

{% block create %}

<div class="container p-5">
    <h3>Ability Scores</h3>
    <select class="form-select" aria-label="Ability Score Method">
        <option selected>-- Choose a Generation Method --</option>
        <option value="standardarray">Standard Array</option>
        <option value="manual">Manual / Rolled</option>
        <option value="pointbuy">Point Buy</option>
    </select>
    <h3 class="mt-3">Score Calculations</h3>
    <p>Calculations, including the base scores you set above and any modifiers, are found below. You can also override any automatic calculations or modify them under each ability summary.</p>
    <div class="row row-cols-3">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" scope="col">Strength</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">Total Score</th>
                        <td>8</td>
                    </tr>
                    <tr>
                        <th scope="row">Modifier</th>
                        <td>-1</td>
                    </tr>
                    <tr>
                        <th scope="row">Base Score</th>
                        <td>8</td>
                    </tr>
                    <tr>
                        <th scope="row">Racial Bonus</th>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <th scope="row">Ability Improvements</th>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <th scope="row">Misc Bonus</th>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <th scope="row">Set Score</th>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">Other Modifier</th>
                        <td><input type="text" placeholder="--"></td>
                    </tr>
                    <tr>
                        <th scope="row">Override Score</th>
                        <td><input type="text" placeholder="--"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" scope="col">Dexterity</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">Total Score</th>
                        <td>8</td>
                    </tr>
                    <tr>
                        <th scope="row">Modifier</th>
                        <td>-1</td>
                    </tr>
                    <tr>
                        <th scope="row">Base Score</th>
                        <td>8</td>
                    </tr>
                    <tr>
                        <th scope="row">Racial Bonus</th>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <th scope="row">Ability Improvements</th>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <th scope="row">Misc Bonus</th>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <th scope="row">Set Score</th>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">Other Modifier</th>
                        <td><input type="text" placeholder="--"></td>
                    </tr>
                    <tr>
                        <th scope="row">Override Score</th>
                        <td><input type="text" placeholder="--"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" scope="col">Constitution</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">Total Score</th>
                        <td>8</td>
                    </tr>
                    <tr>
                        <th scope="row">Modifier</th>
                        <td>-1</td>
                    </tr>
                    <tr>
                        <th scope="row">Base Score</th>
                        <td>8</td>
                    </tr>
                    <tr>
                        <th scope="row">Racial Bonus</th>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <th scope="row">Ability Improvements</th>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <th scope="row">Misc Bonus</th>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <th scope="row">Set Score</th>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">Other Modifier</th>
                        <td><input type="text" placeholder="--"></td>
                    </tr>
                    <tr>
                        <th scope="row">Override Score</th>
                        <td><input type="text" placeholder="--"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" scope="col">Intelligence</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">Total Score</th>
                        <td>8</td>
                    </tr>
                    <tr>
                        <th scope="row">Modifier</th>
                        <td>-1</td>
                    </tr>
                    <tr>
                        <th scope="row">Base Score</th>
                        <td>8</td>
                    </tr>
                    <tr>
                        <th scope="row">Racial Bonus</th>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <th scope="row">Ability Improvements</th>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <th scope="row">Misc Bonus</th>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <th scope="row">Set Score</th>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">Other Modifier</th>
                        <td><input type="text" placeholder="--"></td>
                    </tr>
                    <tr>
                        <th scope="row">Override Score</th>
                        <td><input type="text" placeholder="--"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" scope="col">Wisdom</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">Total Score</th>
                        <td>8</td>
                    </tr>
                    <tr>
                        <th scope="row">Modifier</th>
                        <td>-1</td>
                    </tr>
                    <tr>
                        <th scope="row">Base Score</th>
                        <td>8</td>
                    </tr>
                    <tr>
                        <th scope="row">Racial Bonus</th>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <th scope="row">Ability Improvements</th>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <th scope="row">Misc Bonus</th>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <th scope="row">Set Score</th>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">Other Modifier</th>
                        <td><input type="text" placeholder="--"></td>
                    </tr>
                    <tr>
                        <th scope="row">Override Score</th>
                        <td><input type="text" placeholder="--"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" scope="col">Charisma</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">Total Score</th>
                        <td>8</td>
                    </tr>
                    <tr>
                        <th scope="row">Modifier</th>
                        <td>-1</td>
                    </tr>
                    <tr>
                        <th scope="row">Base Score</th>
                        <td>8</td>
                    </tr>
                    <tr>
                        <th scope="row">Racial Bonus</th>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <th scope="row">Ability Improvements</th>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <th scope="row">Misc Bonus</th>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <th scope="row">Set Score</th>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">Other Modifier</th>
                        <td><input type="text" placeholder="--"></td>
                    </tr>
                    <tr>
                        <th scope="row">Override Score</th>
                        <td><input type="text" placeholder="--"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}