{% extends '/create/base.html' %}

{% block create %}

<div class="container p-5">
  <form>
    <div class="mb-3">
      <label for="characterName" class="form-label">
        <h6>Character Name</h6>
      </label>
      <input type="text" class="form-control" id="characterName">
    </div>
    <h3>Background</h3>
    <select id="background" class="form-select" aria-label="Ability Score Method">
      <option selected>-- Choose an Option --</option>
      {% for background in backgrounds %}
      <option value="{{ background['slug'] }}">{{ background['name'] }}</option>
      {% endfor %}
    </select>
    <div>
      <p id="background_desc"></p>
    </div>
  </form>


  <script>
    var background = document.getElementById("background");
    background.addEventListener("change", function () {
      console.log(background.selectedIndex);
      if (background.selectedIndex == 0) {
        document.getElementById('background_desc').innerHTML = "";
      }

      else {
        document.getElementById('background_desc').innerHTML = backgrounds['results'][background.selectedIndex - 1]['desc'];
      }
    });

    function fetchJSONData() {
      fetch("/backgrounds.json")
        .then((res) => {
          if (!res.ok) {
            throw new Error
              (`HTTP error! Status: ${res.status}`);
          }
          return res.json();
        })
        .then((data) =>
          backgrounds = data)
        .catch((error) =>
          console.error("Unable to fetch data:", error));
    }
    fetchJSONData();
  </script>
</div>
{% endblock %}