{% extends 'base.html' %}

{% block content %}
<style>
    /* character-sheet.css */
    /* @media (min-width: 540px) {
    .container{
        max-width: 70%;
    }
} */

    body {
        font-family: 'Georgia', serif;
        background-image: '/static/background.jpg'
    }

    .card-header,
    .card-footer {
        font-size: 12px;
    }

    .card-text {
        font-size: 14px;
    }

    button {
        margin-right: 10px;
    }

    .table th,
    .table td {
        font-size: 14px;
    }

    .nav-tabs .nav-link {
        font-size: 14px;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ character_info['name'] }}</h5>
                            <p class="card-text">{{ character_info['race'] }} 
                                {% for class in character_info['class'] %}
                                    {{ class['name'] }} {{ class['level'] }}
                                {% endfor %}
                            </p>
                            <p class="card-text"><small class="text-body-secondary">{{ character_info['level'] }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-danger btn-lg">Short Rest</button>
            <button type="button" class="btn btn-outline-danger btn-lg">Long Rest</button>
            <button type="button" class="btn btn-outline-danger btn-lg">Edit Character</button>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-6">
            <div class="card-group">
                {% for ability_score in character_info["ability_scores"] %}
                <div class="card h-100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                    <div class="card-header">
                        {{ ability_score.capitalize() }}
                    </div>
                    <p class="card-text">{{ (character_info["ability_scores"][ability_score] - 10) // 2 }}</p>
                    <div class="card-footer">
                        <small class="text-body-secondary">{{ character_info["ability_scores"][ability_score] }}</small>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-3">
            <div class="card-group">
                <div class="card">
                    <div class="card-header" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                        Proficiency
                    </div>
                    <p class="card-text">{{ character_info['proficiency_bonus']}}</p>
                    <div class="card-footer">
                        <small class="text-body-secondary">Bonus</small>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                        Walking
                    </div>
                    <p class="card-text">{{ character_info['walking_speed']}} ft</p>
                    <div class="card-footer">
                        <small class="text-body-secondary">Speed</small>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                        Inspiration
                    </div>
                    <input class="form-check-input" type="checkbox" value="" id="inspiration">
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    Hit Points
                </div>
                <p class="card-text">
                <div class="row row-cols-4">
                    <div class="col">
                        <button class="btn btn-outline-success btn-sm">Heal</button>
                        <div class="input-group input-group-lg">
                            <input class="form-control">
                        </div>
                        <button class="btn btn-outline-danger btn-sm">Damage</button>
                    </div>
                    <div class="col">
                        <h6>Current</h6>
                        <p><b>{{ character_info["health"]["current"] }}</b></p>
                    </div>
                    <div class="col">
                        <h6>Max</h6>
                        <p><b>{{ character_info["health"]["max"] }}</b></p>
                    </div>
                    <div class="col">
                        <h6>Temp</h6>
                        <p><b>{{ character_info["health"]["temp"] }}</b></p>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Saving Throws
                </div>
                <div class="card-body">
                    <div class="row row-cols-2">
                        {% for skill in character_info["saving_throws"] %}
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p>{{ skill }}</p>
                                </div>
                                <div class="col">
                                    <p>{{ character_info["saving_throws"][skill] }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Senses -->
            <div class="card mt-2">
                <div class="card-header">
                    Senses
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                {% for sense in character_info['senses'] %}
                                <div class="col">
                                    <p>{{ character_info['senses'][sense] }}</p>
                                </div>
                                <div class="col">
                                    <p>{{ sense }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Proficiencies -->
            <div class="card mt-2">
                <div class="card-header">
                    Proficiencies & Languages
                </div>
                <div class="card-body">
                    {% for proficiency in character_info['proficiencies'] %}
                        <h6 class="card-title">{{ proficiency.capitalize() }}</h6>
                        {% if character_info['proficiencies'][proficiency] %}
                        <p>{{ ', '.join(character_info['proficiencies'][proficiency]) }}</p>
                        {% else %}
                        <p>None</p>
                        {% endif %}
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                    Skills
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Prof</th>
                                <th scope="col">Mod</th>
                                <th scope="col">Skill</th>
                                <th scope="col">Bonus</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for skill in character_info['skills'] %}
                            <tr>
                                <td>{{ character_info['skills'][skill]['proficient'] }}</td>
                                <td>{{ character_info['skills'][skill]['modifier'] }}</td>
                                <td>{{ skill }}</td>
                                <td>+{{ character_info['skills'][skill]['value'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card-group">
                <div class="card h-100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                    <div class="card-header">
                        Initiative
                    </div>
                    <p class="card-text">{{ character_info['initiative'] }}</p>
                </div>
                <div class="card h-100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                    <div class="card-header">
                        Armor
                    </div>
                    <p class="card-text">{{ character_info['armor_class'] }}</p>
                    <div class="card-footer">
                        <small class="text-body-secondary">Class</small>
                    </div>
                </div>
                <div class="card h-100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                    <div class="card-header">
                        Defences
                    </div>
                    <p class="card-text">
                    <ul>
                        {% for defence in character_info['defences'] %}
                        <li>{{ defence }}</li>
                        {% endfor %}
                    </ul>
                    </p>
                </div>
                <div class="card h-100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                    <div class="card-header">
                        Conditions
                    </div>
                    <p class="card-text">
                    <ul>
                        {% for condition in character_info['conditions'] %}
                        <li>{{ condition }}</li>
                        {% endfor %}
                    </ul>
                    </p>
                </div>
            </div>
            <div class="card">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="actions-tab" data-bs-toggle="tab" data-bs-target="#actions"
                            type="button" role="tab" aria-controls="actions" aria-selected="true">Actions</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="spells-tab" data-bs-toggle="tab" data-bs-target="#spells"
                            type="button" role="tab" aria-controls="spells" aria-selected="false">Spells</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="inventory-tab" data-bs-toggle="tab" data-bs-target="#inventory"
                            type="button" role="tab" aria-controls="inventory" aria-selected="false">Inventory</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="actions" role="tabpanel" aria-labelledby="actions-tab">
                        Actions
                    </div>
                    <div class="tab-pane fade" id="spells" role="tabpanel" aria-labelledby="spells-tab">Spells</div>
                    <div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">Inventory
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar fixed-bottom">
    <div class="container-fluid">
        <button class="btn btn-outline-success btn-lg">Roll</button>
    </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        ...
    </div>
</div>

{% endblock %}