{% extends 'base.html' %}

{% block content %}
<style>
    .card-header {
        font-size: 12px;
    }

    .card-footer {
        font-size: 12px;
    }
</style>

<div class="container mt-5 px-5">
    <div class="row">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Character Name</h5>
                            <p class="card-text">Race Level Class</p>
                            <p class="card-text"><small class="text-body-secondary">Player Level</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-danger btn-lg">Short Rest</button>
            <button type="button" class="btn btn-outline-danger btn-lg">Long Rest</button>
            <button type="button" class="btn btn-outline-danger btn-lg">Edit Character</button>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-6">
            <div class="card-group">
                <div class="card h-100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                    <div class="card-header">
                        Stength
                    </div>
                    <p class="card-text">+4</p>
                    <div class="card-footer">
                        <small class="text-body-secondary">20</small>
                    </div>
                </div>

                <div class="card h-100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                    <div class="card-header">
                        Dexterity
                    </div>
                    <p class="card-text">+4</p>
                    <div class="card-footer">
                        <small class="text-body-secondary">20</small>
                    </div>
                </div>

                <div class="card h-100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                    <div class="card-header">
                        Constitution
                    </div>
                    <p class="card-text">+4</p>
                    <div class="card-footer">
                        <small class="text-body-secondary">20</small>
                    </div>
                </div>

                <div class="card h-100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                    <div class="card-header">
                        Intelligence
                    </div>
                    <p class="card-text">+4</p>
                    <div class="card-footer">
                        <small class="text-body-secondary">20</small>
                    </div>
                </div>

                <div class="card h-100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                    <div class="card-header">
                        Wisdom
                    </div>
                    <p class="card-text">+4</p>
                    <div class="card-footer">
                        <small class="text-body-secondary">20</small>
                    </div>
                </div>

                <div class="card h-100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                    <div class="card-header">
                        Charisma
                    </div>
                    <p class="card-text">+4</p>
                    <div class="card-footer">
                        <small class="text-body-secondary">20</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card-group">
                <div class="card">
                    <div class="card-header" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                        Proficiency
                    </div>
                    <p class="card-text">+3</p>
                    <div class="card-footer">
                        <small class="text-body-secondary">Bonus</small>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                        Walking
                    </div>
                    <p class="card-text">30 ft</p>
                    <div class="card-footer">
                        <small class="text-body-secondary">Speed</small>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                        Inspiration
                    </div>
                    <input class="form-check-input" type="checkbox" value="" id="inspiration">
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card-group">
                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-outline-success btn-sm">Heal</button>
                    </div>
                    <p class="card-text"><input></p>
                    <div class="card-footer">
                        <button class="btn btn-outline-danger btn-sm">Damage</button>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        Current
                    </div>
                    <p>32</p>
                </div>

                <div class="card">
                    <div class="card-header">
                        Max
                    </div>
                    <p>32</p>
                </div>

                <div class="card">
                    <div class="card-header">
                        Temp
                    </div>
                    <p>--</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Saving Throws
                </div>
                <div class="card-body">
                    <div class="row row-cols-2">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p>STR</p>
                                </div>
                                <div class="col">
                                    <p>+1</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>DEX</p>
                                </div>
                                <div class="col">
                                    <p>+1</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>CON</p>
                                </div>
                                <div class="col">
                                    <p>+1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p>INT</p>
                                </div>
                                <div class="col">
                                    <p>+1</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>WIS</p>
                                </div>
                                <div class="col">
                                    <p>+1</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>CHA</p>
                                </div>
                                <div class="col">
                                    <p>+1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Senses -->
            <div class="card">
                <div class="card-header">
                    Senses
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p>14</p>
                                </div>
                                <div class="col">
                                    <p>Passive Wisdom</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Proficiencies -->
            <div class="card">
                <div class="card-header">
                    Proficiencies & Languages
                </div>
                <div class="card-body">
                    <h6 class="card-title">Armor</h6>
                    <p>None</p>
                    <hr>
                    <h6 class="card-title">Weapons</h6>
                    <p>Crossbow, Dagger</p>
                    <hr>
                    <h6 class="card-title">Tools</h6>
                    <p>None</p>
                    <hr>
                    <h6 class="card-title">Languages</h6>
                    <p>Commnon, Abyssal</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                    Skills
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th scope="col">Prof</th>
                            <th scope="col">Mod</th>
                            <th scope="col">Skill</th>
                            <th scope="col">Bonus</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td>Dex</td>
                            <td>Acrobatics</td>
                            <td>+3</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Wis</td>
                            <td>Animal Handling</td>
                            <td>+3</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Int</td>
                            <td>Arcana</td>
                            <td>+3</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="col">

        </div>
    </div>
</div>

<nav class="navbar fixed-bottom">
    <div class="container-fluid">
        <button class="btn btn-outline-success btn-lg">Roll</button>
    </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        ...
    </div>
</div>
{% endblock %}
